:root {
    --lightblue: #7C93C3;
    --darkblue: #55679C;
    --navyblye: #1E2A5E;
    --beige: #E1D7B7;
}
* {
    margin: 0;
    padding: 0;
}
#outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#calculator-div {
    width: 25vw;
    height: 70vh;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--darkblue);
}
#display-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 30;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#calculator-display {
    width: 22vw;
    height: 10vh;
    background-color: var(--navyblye);
    font-size: x-large;
    color: white;
}
#button-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 50vh;
}
#button-div {
    display: grid;
    grid-template-columns: 4vw 4vw 4vw 4vw 4vw;
    grid-template-rows: 4vw 4vw 4vw 4vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.button {
    height: 4vw;
    font-size: 3vh;
    border: none;
    background-color: var(--lightblue);
}
.button:hover {
    background-color: rgb(122, 153, 211);
}
.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
#equal {
    height: 8.8vw;
    grid-row: 3 / 5;
    grid-column: 5 / 6;
    background-color: var(--beige);
}